    <div class="gnews_header">
        <div>
            <h1 class="gnews_logo">
                <a href="{% url 'news:index' %}">
                    GNEWS
                </a>
            </h1>
        </div>
        <div class="gnews_header_navbar">
            {% if not user.is_authenticated %}
            <a href="{% url 'account_login' %}">
                <span>Login</span>
            </a>
            <a href="{% url 'account_signup' %}">
                <span>Signup</span>
            </a>
            {% else %}
            <a href="{% url 'account_logout' %}">
                <span>Logout</span>
            </a>
            
            {% endif %}
        </div>
    </div>